SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan0", TAG+="systemd", ENV{SYSTEMD_WANTS}="wpa_supplicant@wlan0.service"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan1", TAG+="systemd", ENV{SYSTEMD_WANTS}="wpa_supplicant@wlan1.service"

